<div class="row row-content">
    <div class="col-xs-push-2 col-xs-10">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-5">
                    <input id="destination" placeholder="Destination" type="text" class="form-control"
                           ng-model="controller.getFilter().destination">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-5">
                    <input id="start" placeholder="Start Date" type="date" class="form-control"
                           ng-model="controller.getFilter().start">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-5">
                    <input id="end" placeholder="End Date" type="date" class="form-control"
                           ng-model="controller.getFilter().end">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-info btn-sm" ng-click="controller.search()">Search
                    </button>
                    <button type="button" class="btn btn-info btn-sm"
                            ng-click="controller.clearSearch()">Clear Search
                    </button>
                    <button type="button" class="btn btn-info btn-sm" ng-click="controller.openModal()">New
                        Trip
                    </button>
                </div>
            </div>
        </form>
    </div>
    
    <div class="col-xs-10">
        {{controller.totalRecords()}} trip(s) found
    </div>

    <div class="col-xs-10" ng-show="!controller.isSearchEmpty()">

        <div class="table-responsive">
            <table class="table table-striped">

                <tr>
                    <th>Destination</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Days Count</th>
                    <th>Actions</th>
                </tr>


                <tr ng-repeat="trip in controller.getEntities()">
                    <td>{{trip.destination}}</td>
                    <td>{{trip.start}}</td>
                    <td>{{trip.end}}</td>
                    <td>{{trip.daysCount}}</td>
                    <td>
                    	<button type="button" class="btn btn-info btn-sm"
                                ng-click="controller.openModalToAlter(trip)">Alter</button>
                        <button type="button" class="btn btn-info btn-sm"
                                ng-click="controller.openModalToDelete(trip)">Delete</button>
                    </td>
                </tr>

            </table>

        </div>
    </div>
    <div class="col-xs-12 col-sm-push-3 col-sm-9" ng-show="!controller.isSearchEmpty()">
        <uib-pagination total-items="controller.getPagination().totalItems"
                        ng-model="controller.getPagination().currentPage" max-size="5"
                        ng-change="controller.pageChanged()" previous-text="&lsaquo;"
                        next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" boundary-links="true"></uib-pagination>
    </div>
    
</div>